<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flash cards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>

<body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             <% if user_signed_in? %>
        <%= link_to "Red Team Flash Cards", new_user_registration_path, { :class=>"navbar-brand" } %>    
            <% else %>
          <%= link_to "Red Team Flash Cards", new_user_registration_path, { :class=>"navbar-brand" } %>
        <% end %>
                
            </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><% if user_signed_in? %>
                  <%= link_to "New Post", new_post_path %>
                <% else %>
                  <%= link_to "Sign Up", new_user_registration_path, { :class=>"navbar-brand" } %>
                  <%= link_to "Sign In", new_user_session_path, { :class=>"navbar-brand" }%>
                <% end %></li>
        
         <div id="View Cards">
             <a class="btn btn-large btn-info" href="/categories">View Cards</a>
        </div> 
        
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Your Categories</a></li>
                            <li><a href="#">Your Cards</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

      <%= yield %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>